<head>
 <title>MeteorApp Example</title>
</head>

<body>

</body>

<template name="Root">
  {{> Navigation}}

  <h4><span class="label label-default">Main Page</span></h4>

  
  {{title}}
  
  <div class="container">
  
  </div>

</template>

<template name="Page1">
  {{> Navigation}}

  <h4><span class="label label-default">Page1</span></h4>
  
  {{> loginButtons}}
  
  {{#if currentUser}}
  <h3>Images</h3>
  <div class="row-fluid">
    <div class="col-lg-12 col-md-10 ">
        <div class="cover-container">
  {{#each images}}
    <div class="cover-item" style="background-image: url('.uploads/{{name}}')"></div>
  {{/each}}
          </div>
    </div>
</div>
  {{> customUpload}}
  {{/if}}
  
</template>

<template name="customUpload">
	<h3>Upload Image</h3>
    {{> upload_bootstrap fileTypes='.jpg' multiple=true formData=specificFormData }}
</template>

<template name="Page2">
  {{> Navigation}}

  <h4><span class="label label-default">Page2</span></h4>
</template>

<template name="Navigation">
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
		<li>
		  <a href="/">Root</a>
		</li>
		{{#unless page1}}
		<li>
		  <a href="/page1">Page1</a>
		</li>
		{{/unless}}
		{{#unless page2}}
		<li>
		  <a href="/page2">Page2</a>
		</li>
		{{/unless}}
	  </ul>
    </div>
	</div>
	</nav>
</div>
</template>
